@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --space-base: 1.75vw;
  --space-large: 5.25vw;
  --grey-soft: #f2f3f4;
  --grey-medium: #e5e5e5;
  --black: #080808;
  --font: "Inter", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s ease;
}

html {
  scroll-behavior: smooth;
}

*,
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font);
  background-color: var(--grey-soft);
  color: var(--black);
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.375;
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  overflow-x: hidden;
  position: relative;
}

h1 {
  --font-size-min: 26px;
  --font-size-max: 52px;
  --scaler: 3vw;
  font-size: clamp(var(--font-size-min), var(--scaler), var(--font-size-max));
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}

img {
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
}

.about-inner {
  height: 100vh;
  padding: var(--space-base);
  position: relative;
}

.about-inner__service {
  text-align: left;
}
.about-inner__service ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.about-inner__title {
  position: absolute;
  left: var(--space-base);
  bottom: var(--space-base);
}

.project {
  top: 0;
  left: 0;
  width: 50vw;
}

.project-content {
  position: relative;
}

.project .project-content .project-inner {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: 100vh;
  padding: var(--space-large);
  position: sticky;
  top: 0;
}

.project .project-inner img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 800px) {
  .about {
    position: relative;
    width: auto;
  }
  .project {
    width: auto;
  }
  .about,
  .about-inner,
  .project .project-content .project-inner {
    height: 66vh;
  }
}
